:root{
  --primary-core-color:rgb(216, 156, 92);
  --secondary-core-color:rgba(60,60,60,1);
}

body {

    background-image: url('../Image/.png');
    z-index: 1;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-color: #eceae3;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-x: hidden;

}
.primary-core-color{
 color:var(--primary-core-color);
}
.secondary-core-color{
 color:var(--secondary-core-color);
}
.primary-core-bg {
    background: var(--primary-core-color);
}

.secondary-core-bg {
    background: var(--secondary-core-color);
}

.site-btn{
    padding: 9.5px 34px;
}
@media (min-width:992px) {
    .vh-lg-80{
        height: 80vh;
    }  
}
.hero-badge{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.36);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main.content-wrap {
    flex: 1;
  }

  .footer {
    margin-top: auto;
  }


  #my_audio {
    position: fixed;
    left: -9999px;
    top: -9999px;
}